/* Resets */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Montserrat;
}
* {
  box-sizing: border-box;
}
a {
  color: #008AFF;
  border-bottom: 1px dashed #808080;
  text-decoration: none;
}
a:hover {
  color: #00B9FF;
}

/* Wrappers */
.main {
  background: #f8f8f8;
  overflow: auto;
}
.container, .main, .sidebar, .content {
  height: 100%;
}

/* Sidebar */
.headerImg {
  width: 200px;
  display: block;
  margin: 10px auto 20px auto;
}
.sidebar {
  width: 220px;
  float: left;
  background: white;
  box-shadow: 0 0 7px 0 rgba(56, 33, 33, 0.15);
}
.sidebar .nav {
  padding: 20px;
  list-style-type: none;
  margin: 0;
}
.sidebar .nav-item {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  margin: 4px 0;
}
.sidebar .nav-item:hover:after {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  width: 100%;
  background: rgba(92, 181, 201, 0.26);
}
.sidebar .nav-item a {
  border: 0;
  color: #222;
  display: inline-block;
  width: 100%;
}

/* Content */
.content {
  padding-left: 260px;
}

/* Package Listing */
.directory td {
  padding: 10px;
}
.package-name {
  font-weight: bold;
}
.package-label {
  margin-left: 12px;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 2px 6px;
  margin-left: 12px;
  color: #FFF;
  background: #98B285;
  display: inline-block;
}
.package-desc {
  font-size: 14px;
  color: grey;
}
.package-desc td {
  border-bottom: 1px solid #ddd;
  padding-top: 0;
}
