@import 'normalize.css';
@import 'fonts.css';
@import 'sidebar.css';
@import 'directory.css';

/* DOM structure: */ 
/* container [ main [ sidebar, content] ] */

body {
  color: #111;
  background: #fffff8;
}
* {
  box-sizing: border-box;
}
.content {
  max-width: 900px;
  padding-left: 230px;
}

