@import 'ff-docs-theme';
@import 'sidebar.css';
@import 'directory.css';
@import 'syntax-theme.css';

/* DOM structure: */ 
/* container [ main [ sidebar, content] ] */

code {
  background: transparent;
}

pre {
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid $teal;
}

.content {
  padding-left: 230px;
  max-width: 900px;
}

