@import 'normalize.css';
@import 'fonts.css';
@import 'sidebar.css';
@import 'directory.css';
@import 'syntax-theme.css';

/* DOM structure: */ 
/* container [ main [ sidebar, content] ] */

body {
  color: #111;
  background: #fffff8;
}
* {
  box-sizing: border-box;
}
.content {
  padding-left: 230px;
  max-width: 900px;
}
.content h1 {
  opacity: 0.5;
}
pre {
  background: #e7f4f7;
  padding: 16px;
  margin: 0;
}

